<div style="max-height: 100vh; overflow-y: auto">
  <form class="editor">
    <div class="editor-textarea">
      <br /><br />
      <div class="title">
        <h1 class="templateTittle">
          Back-end<br />
          Generator
        </h1>
      </div>
      <br />
      <br />
      <section id="about" class="about">
        <div class="container">
          <div class="row" style="justify-content: center; align-items: center">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
              <br />
              <br />
              <br />

              <img
                src="./../../../../assets/img/descarga.jpg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 content" data-aos="fade-right">
              <div class="section-title">
                <span>About us</span>
                <h2>About us</h2>
              </div>
              <p class="text-intro">
                In the dynamic universe of web application development,
                efficient database management stands as a component vital.
                Secure and reliable execution of CRUD operations (Creation,
                Reading, Update and Delete) is essential in contemporary
                applications. In this context, the Integration of mappers in
                PostgreSQL databases presented as a key solution to accurately
                represent logic the complex relational structures within the
                environment programming. Thus arises the prevailing need to
                design a innovative system capable of generating efficient code
                intended for CRUD operations in PostgreSQL. This system, through
                a exhaustive analysis of the database structure, identifies:
              </p>
              <ul style="margin-left: 50px">
                <li>
                  <i class="bi bi-check-circle" style="color: #05043e"></i>
                  Models
                </li>
                <li>
                  <i class="bi bi-check-circle" style="color: #05043e"></i>
                  Entities
                </li>
                <li>
                  <i class="bi bi-check-circle" style="color: #05043e"></i>
                  Relations
                </li>
              </ul>
              <p class="text-intro">
                The main mission is to automate the implementation of CRUD in
                applications connected to PostgreSQL databases, reducing manual
                effort and minimizing errors in these operations.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="constructions" class="constructions">
        <div class="container" data-aos="fade-up">
          <div class="content">
            <div class="section-title mt-5">
              <span>User manual</span>
              <h2>User manual</h2>
            </div>
          </div>
          <div>
            <p class="text-intro">
              Welcome to the User Manual of our management application of
              PostgreSQL databases! Our application is designed to offer you a
              comprehensive and efficient solution to manage your data securely
              and reliably. With a focus on CRUD operations (Create, Read,
              Update and Delete), our tool allows you to work intuitively with
              your PostgreSQL databases.
            </p>
            <br />
            <p class="text-intro">What can you expect from our application?</p>
            <ul
              style="
                margin-left: 50px;
                list-style: none;
                font-size: 1.1rem;
                text-align: justify;
              "
            >
              <li>
                <i class="bi bi-check-circle" style="color: #05043e"></i>
                <b> Simplicity and Efficiency:</b> We simplify the process of
                database administration, allowing you to perform CRUD operations
                quickly and efficiently.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: #05043e"></i>
                <b> Smart Mapping:</b> Our application uses mappers to logically
                represent the complex structures relational relationships of
                your databases, facilitating the understanding and data
                manipulation.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: #05043e"></i>
                <b> Advanced Automation:</b>Through an analysis of the database
                structure, our tool identifies models, entities and
                relationships, allowing you to automate the implementation of
                CRUD in your applications connected to PostgreSQL.
              </li>
              <li>
                <i class="bi bi-check-circle" style="color: #05043e"></i>
                <b> Error Reduction: </b>Our goal is to minimize errors errors
                and manual effort in CRUD operations, giving you a database
                administration experience fluid and uncomplicated.
              </li>
            </ul>
            <br />
          </div>
          <div class="popular-categories mt-5" id="accordionExample">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="naccs">
                    <div class="grid">
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="menu">
                            <div id="headingOne">
                              <button
                                class="thumb accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne"
                              >
                                <span class="icon"
                                  ><i
                                    class="fa-solid fa-right-to-bracket"
                                    style="color: #2cc992"
                                  ></i>
                                </span>
                                Log in
                              </button>
                            </div>
                            <div id="headingTwo">
                              <button
                                class="thumb accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo"
                              >
                                <span class="icon"
                                  ><i
                                    class="fa-solid fa-house"
                                    style="color: #2cc992"
                                  ></i
                                ></span>
                                Main menu
                              </button>
                            </div>
                            <div id="headingThree">
                              <button
                                class="thumb accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree"
                              >
                                <span class="icon"
                                  ><i
                                    class="fa-solid fa-database"
                                    style="color: #2cc992"
                                  ></i
                                ></span>
                                Database connection
                              </button>
                            </div>
                            <div id="headingFour">
                              <button
                                class="thumb accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFour"
                                aria-expanded="false"
                                aria-controls="collapseFour"
                              >
                                <span class="icon"
                                  ><i
                                    class="fa-solid fa-file"
                                    style="color: #2cc992"
                                  ></i
                                ></span>

                                Project visualization
                              </button>
                            </div>
                            <div id="headingFive">
                              <button
                                class="thumb accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFive"
                                aria-expanded="false"
                                aria-controls="collapseFive"
                              >
                                <span class="icon"
                                  ><i
                                    class="fa-solid fa-code"
                                    style="color: #2cc992"
                                  ></i
                                ></span>
                                Code visualization
                              </button>
                            </div>
                            <div id="headingSix">
                              <button
                                class="thumb accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseSix"
                                aria-expanded="false"
                                aria-controls="collapseSix"
                              >
                                <span class="icon"
                                  ><i
                                    class="fa-solid fa-folder-open"
                                    style="color: #2cc992"
                                  ></i
                                ></span>
                                Download the project
                              </button>
                            </div>
                            <div id="headingSeven">
                              <button
                                class="thumb accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven"
                                aria-expanded="false"
                                aria-controls="collapseSeven"
                              >
                                <span class="icon"
                                  ><i
                                    class="fa-solid fa-download"
                                    style="color: #2cc992"
                                  ></i
                                ></span>

                                Project launch
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-9 align-self-center">
                          <div
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <div class="d-flex justify-content-center mb-5">
                                <img
                                  src="../../../../assets/img/Login.png"
                                  alt=""
                                  style="max-width: 80%; max-height: 80%"
                                />
                              </div>
                              <strong>Open</strong>
                              your web browser and go to the URL provided for
                              the tool. Enter your login credentials and click
                              the “Sign In” button.
                            </div>
                          </div>
                          <div
                            id="collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <div class="d-flex justify-content-center mb-5">
                                <img
                                  src="../../../../assets/img/Main.png"
                                  alt=""
                                  style="max-width: 80%; max-height: 80%"
                                />
                              </div>
                              <strong>After</strong>
                              logging in, you will be directed to the menu main,
                              where you will find a side header with the
                              following navigation options:
                              <ul
                                style="
                                  margin-left: 50px;
                                  list-style: none;
                                  text-align: justify;
                                "
                              >
                                <br />
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Menu: It takes you to the main page of the
                                  system.
                                </li>
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Connection form: Access tools code generation.
                                </li>
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Full screen: Allows expand the screen to full
                                  screen.
                                </li>
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Profile user: Access your profile and view
                                  your full name.
                                </li>
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Exit: Log out and exit the system.
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div
                            id="collapseThree"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <div class="d-flex justify-content-center mb-5">
                                <img
                                  src="../../../../assets/img/DatabaseConnection.png"
                                  alt=""
                                  style="max-width: 80%; max-height: 80%"
                                />
                              </div>
                              >
                              <ul
                                style="
                                  margin-left: 20px;
                                  list-style: none;
                                  text-align: justify;
                                "
                              >
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  After logging in, you will be redirected to a
                                  form where you must enter the information
                                  connection to your relational database.
                                </li>
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Complete the required fields, such as address
                                  server, username, password, the port and name
                                  of the database.
                                </li>
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Click the “Connect” button to establish the
                                  connection with the database.
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div
                            id="collapseFour"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <div class="d-flex justify-content-center mb-5">
                                <img
                                  src="../../../../assets/img/Project.png"
                                  alt=""
                                  style="max-width: 80%; max-height: 80%"
                                />
                              </div>

                              <strong>Once</strong>
                              the connection has been successfully established,
                              you will be taken to the project view. Here you
                              will find the project tree and the commands
                              necessary to start your project after downloading
                              it.
                            </div>
                          </div>
                          <div
                            id="collapseFive"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <div class="d-flex justify-content-center mb-5">
                                <img
                                  src="../../../../assets/img/Code.png"
                                  alt=""
                                  style="max-width: 80%; max-height: 80%"
                                />
                              </div>

                              <strong>Explore</strong>
                              the various options available, including viewing
                              code, the ability to copy lines or all of the
                              code, and downloading the code.
                            </div>
                          </div>
                          <div
                            id="collapseSix"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <div class="d-flex justify-content-center mb-5">
                                <img
                                  src="../../../../assets/img/Dowloand.png"
                                  alt=""
                                  style="max-width: 80%; max-height: 80%"
                                />
                              </div>
                              <strong>After</strong>
                              the necessary review of the project, you will have
                              the option to download the entire project in a ZIP
                              file.
                            </div>
                          </div>
                          <div
                            id="collapseSeven"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample"
                          >
                            <div class="accordion-body">
                              <div class="d-flex justify-content-center mb-5">
                                <img
                                  src="../../../../assets/img/Dowloand.png"
                                  alt=""
                                  style="max-width: 80%; max-height: 80%"
                                />
                              </div>
                              <ul
                                style="
                                  margin-left: 20px;
                                  list-style: none;
                                  text-align: justify;
                                "
                              >
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Once you have downloaded the project, unzip it
                                  to your local system.
                                </li>
                                <li>
                                  <i
                                    class="bi bi-check-circle"
                                    style="color: #05043e"
                                  ></i>
                                  Follow the instructions provided in the
                                  included README file to configure and run the
                                  project in your development environment.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="constructions" class="constructions">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <div class="section-title mt-5">
              <span>Problems to solve</span>
              <h2>Problems to solve</h2>
            </div>
            <br /><br />
            <p class="text-intro">
              In the fast-paced world of application development, Efficiency and
              agility are imperative. In this context, the backend management,
              which is the driving engine behind web applications, faces
              significant challenges. The creation, maintenance and optimization
              of backend code are crucial tasks, but often consume time and
              resources valuable. This is where a backend generator comes into
              play. This innovative resource not only alleviates the manual
              workload, but also addresses a number of common challenges that
              developers encounter in their daily lives. Now, let's explore six
              specific problems that a backend generator can solve to simplify
              and enhance the development of web applications.
            </p>
          </div>
          <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div
                      class="card-bg"
                      style="
                        background-image: url(./../../../../assets/img/prueba/img1.jpg);
                      "
                    ></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">Complexity in CRUD Operations</h4>
                      <p>
                        The manual implementation of CRUD operations (Creation,
                        Read, Update and Delete) in a database Data can be
                        complex and prone to errors.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div
                      class="card-bg"
                      style="
                        background-image: url(./../../../../assets/img/prueba/img4.jfif);
                      "
                    ></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">Time and Manual Effort</h4>
                      <p>
                        Manual backend development can be time consuming and
                        significant resources.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div
                      class="card-bg"
                      style="
                        background-image: url(./../../../../assets/img/prueba/img3.jfif);
                      "
                    ></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">Data Structure Inconsistency</h4>
                      <p>
                        Lack of consistency in data structure can lead to errors
                        and difficulties in the management of information.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div
                      class="card-bg"
                      style="
                        background-image: url(./../../../../assets/img/prueba/img2.jfif);
                      "
                    ></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">Updates and Maintenance</h4>
                      <p>
                        Keep backend code up to date with changes in the
                        database structure can be challenging.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Item -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div
                      class="card-bg"
                      style="
                        background-image: url(./../../../../assets/img/prueba/img5.jfif);
                      "
                    ></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">Compliance with Good Practices</h4>
                      <p>
                        Ensure backend code meets best industry practices and
                        standards can be a challenge.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Item -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card-item">
                <div class="row">
                  <div class="col-xl-5">
                    <div
                      class="card-bg"
                      style="
                        background-image: url(./../../../../assets/img/prueba/img6.jfif);
                      "
                    ></div>
                  </div>
                  <div class="col-xl-7 d-flex align-items-center">
                    <div class="card-body">
                      <h4 class="card-title">
                        Compatibility with Emerging Technologies
                      </h4>
                      <p>
                        As technologies evolve, adapt the backend to take
                        advantage of the latest innovations can be complicated.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Item -->
          </div>
        </div>
      </section>
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <div class="section-title mt-5">
              <span>Contact us</span>
              <h2>Contact us</h2>
              <br /><br />
              <p class="text-intro">
                We'd love to hear from you! In our contact section, We invite
                you to share your questions, comments and any concern you have
                about our innovative Generator Backend. We are committed to
                providing you with a solution efficient and personalized for
                your development needs Web.
              </p>
            </div>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="fa-solid fa-map-location-dot"></i>
                <h3>Our Address</h3>
                <p>Santo Tomás Tunja University, Boyacá</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="info-box mb-4">
                <i class="fa-regular fa-envelope"></i>
                <h3>Email</h3>
                <p>imperiumCode@gmail.com</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="info-box mb-4">
                <i class="fa-solid fa-phone-volume"></i>
                <h3>Phone</h3>
                <p>+57 314333333</p>
              </div>
            </div>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-6">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63538.9888863969!2d-73.39752644382862!3d5.5392925708971275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6a7c2e897fba5b%3A0xac9fda7e6b9aa68c!2zVHVuamEsIEJveWFjw6E!5e0!3m2!1ses!2sco!4v1699598568513!5m2!1ses!2sco"
                width="100%"
                height="384px"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>

            <div class="col-lg-6">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </div>
  </form>
</div>
