/* Style for the main header of the window */
.window-main-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; /* Vertically centers content */
  padding: 0.75rem 0.75rem 0.75rem 2rem;
}

/* Style for the breadcrumb navigation list */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Vertically centers content */
  list-style-type: none;
  margin: 0; /* Sets margin to zero */
  padding: 0; /* Sets padding to zero */
}

/* Style for each item in the "breadcrumbs" list */
.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin: 0 10px; /* Spacing between items */
}

/* Style for separators between "breadcrumbs" items */
.breadcrumbs-item:not(:last-child):after {
  margin-left: 0.375rem;
  content: "";
  display: inline-flex;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6L15 12L9 18' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 1.5rem;
  height: 1em;
}

/* Style for links within a "breadcrumbs" item */
.breadcrumbs-item a {
  color: #454545;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

/* Style for SVG icons within a "breadcrumbs" link */
.breadcrumbs-item a svg {
  width: 1rem;
  margin-right: 0.375rem;
  color: #8015cb;
}

/* Style for publish actions */
.publish-actions {
  display: flex;
  align-items: center;
}

/* Style for publish information */
.publish-info {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally centers content */
  font-size: 0.75rem;
  color: #666;
  line-height: 1.25;
  margin-right: 1.25rem;
  text-align: center;
}

/* Style for buttons */
.button {
  display: inline-flex;
  align-items: center;
  border: 0;
  padding: 0.375em 0.75em;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid;
  margin-right: 0.5rem;
  transition: 0.25s ease;
  font-weight: 500;
}

/* Style for SVG icons within a button */
.button svg {
  margin-right: 0.375em;
  width: 1.25em;
  height: 1.25em;
}
/* Style for the save button */
.button--save {
  background-color: #c0c7fc; /* Cambiar a un fondo más claro */
  color: #03033b; /* Cambiar a un texto más oscuro */
}

/* Style for the save button when hovered */
.button--save:hover {
  color: #c0c7fc; /* Cambiar a un texto más claro */
  background-color: #03033b; /* Cambiar a un fondo más oscuro */
}

/* Style for the disconnect button */
.button--disconnect {
  background-color: #6bcda4; /* Cambiar a un fondo más claro */
  color: #004c36; /* Cambiar a un texto más oscuro */
}

/* Style for the disconnect button when hovered */
.button--disconnect:hover {
  color: #6bcda4; /* Cambiar a un texto más claro */
  background-color: #004c36; /* Cambiar a un fondo más oscuro */
}
