<div class="editor">
  <div class="console-wrapper">
    <div class="console">
      <div class="console-header">
        <span class="console-title"
          >&nbsp;&nbsp; Console Visual Studio Code</span
        >
      </div>
      <div class="console-body">
        <pre class="console-textarea">
          <code>
            * Open package in Visual Studio Code
            * Open terminal in Visual Studio Code
              - Install dependencies by: <b>npm</b> i
              - Start project by: <b>npm</b> run build
                                  <b>npm</b> run dev
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
